body {
  background: #0f0f0f;
  color: #ffffff;
  font-family: system-ui;
  margin: 0;
}

header {
  padding: 16px;
  font-size: 20px;
  background: #000000;
  text-align: center;
}

#reader {
  height: 50vh;
  overflow: auto;
  background: #111;
}

textarea {
  width: 100%;
  height: 80px;
  background: #1c1c1c;
  color: white;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  gap: 8px;
  padding: 10px;
  align-items: center;
  background: #000;
}
